<table>
    <thead>
    <tr>
        <th>Employee Name</th>
        <th>Total Phone Days</th>
        <th>Total Email Days</th>
        <th>Total Integrations Days</th>
        <th>Total Non-Coverage Days</th>
        <th>Days Called Out</th>
        <th>Days Unplanned Time Out</th>
        <th>Days Worked From Home</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="metric in teamMetrics">
        <td>{{metric.name}}</td>
        <td>{{metric.phoneDays}}</td>
        <td>{{metric.emailDays}}</td>
        <td>{{metric.integrationsDays}}</td>
        <td>{{metric.noncoverageDays}}</td>
        <td>{{metric.totalCalledOut}}</td>
        <td>{{metric.totalUnplannedOut}}</td>
        <td>{{metric.totalWorkedFromHome}}</td>
    </tr>
    </tbody>
</table>