<div class="row">
    <h2>Add a new Supporter</h2>
    <form class="col s12" name="newEmployee">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" type="text" class="validate" ng-model="newEmployee.name">
                <label for="name">Name (First and Last)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="title" type="text" class="validate" ng-model="newEmployee.title">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <select ng-model="newEmployee.managerId">
                <option value="" disabled selected>Select Manager</option>
                <option ng-repeat="manager in managers" value="{{manager.managerId}}"> {{manager.name}}
                </option>
            </select>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn center" ng-click="addSupporter(newEmployee)"><i class="material-icons right">add</i>Add Supporter</a>
        </div>
    </form>

</div>