<div class="row content">
    <h4>Edit {{manager.name}}'s information</h4>
    <form class="col s12" name="manager">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" type="text" class="validate" ng-model="manager.name">
                <label for="name" class="active">Name (First and Last)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="title" type="text" class="validate" ng-model="manager.title">
                <label for="title" class="active">Title</label>
            </div>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn center light-blue lighten-1 add" ng-click="updateManager(manager)"><i class="material-icons right">save</i>Update</a>
        </div>
    </form>

</div>